.productDetail{
    display: flex;
    padding: 3rem 7rem;
}

.productDetail-article-1{
    flex: 6;
    display: flex;
    aspect-ratio: 1/1;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    gap: 1rem;
}


.productDetail-figure2{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.productDetail-figure2 img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    cursor: pointer;
    filter: grayscale(0%);
}

.selected-img{
    filter: grayscale(0%);
}

.productDetail-figure{
    width: 80%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.productDetail-figure img{
    flex: 0 0 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.productDetail-article-2{
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.productDetail-titles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}

.productDetail-title{
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}

.productDetail-tipe{
    font-size: 1.3rem;
    font-weight: normal;
    color: #02020280;
}

.productDetail-price{
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
}

.productDetail-description{
    font-size: 1.2rem;
    font-weight: normal;
    color: #02020280;
}

.content-add-favoritos-carrito{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.btn-add-favoritos-carrito{
    width: 100%;
    padding: 3% 0;
    border: none;
    border-radius: 1000px;
    font-size: 1.2rem;
    color: #020202;
}

